* {
  font-family: 'Baloo Da', cursive;
}

html {
  background-color: coral;
}

/* Title */

.title-box {
  text-align: center;
  background-color: OrangeRed;
  color: white;
  padding: 10px;
  letter-spacing: 5px;
}

.main-title {
  font-size: 3.5em;
}

#sig {
  font-size: 1.1em;
  color: white;
}

.my-name {
  text-align: center;
  background-color: DarkSeaGreen;
}

.current-session {
  font-size: 2em;
}


/* Timer */

.timer-row {
  background-color: tomato;
}

.timer {
  text-align: center;
  color: white;
  font-size: 10em;
  padding: 25px;
}

.timer-button {
  font-size: 3em;
  width: 200px;
  height: 75px;
  border-radius: 10px;
  margin: 10px;
  outline: none;
  cursor: pointer;
}

.timer-buttons {
  background-color: tomato;
  text-align: center;
}

/* Up Next Row */

.up-next-row {
  text-align: center;
  color: white;
  background-color: coral;
  letter-spacing: 2px;
}

/* Tab */

.tabs {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.tab-header {
  color: white;
  letter-spacing: 5px;
  cursor: pointer;
}

.tab-header:hover{
  background-color: black;
  opacity: .6;
}

.tab {
  text-align: center;
  z-index: 999999;
  height: 75px;
  overflow-y: hidden;
  background-color: white;
  color: white;
}

#tab-time {
  font-size: 10em;
}

.tab-button {
  width: 150px;
  height: 75px;
  margin: 10px;
  border-radius: 10px;
  color: black;
  font-size: 3em;
  outline: none;
}

/* Media Query */

@media screen and (max-width: 515px) {

  .my-name {
    visibility: hidden;
    height: 0px;
  }

  .main-title {
    font-size: 2em;
  }

  .timer {
    font-size: 5em;
    padding: 0px;
  }

  .timer-button {
    font-size: 1em;
    width: 75px;
    height: 50px;
    outline: none;
    cursor: pointer;
  }

  #up-next {
    font-size: 1.2em;
  }

  .tab-header {
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .tab-button {
    width: 120px;
    height: 50px;
    font-size: 2em;
  }

  .current-session {
    font-size: 1.5em;
  }

}
