* {
  padding: 0;
  margin: 0;
  font-family: 'Baloo Da', cursive;
}

body {
  background-color: #ff463d;
}
/*
  Title
*/
.main-title {
  letter-spacing: 10px;
  font-size: 45px;
  text-align: center;
  color: white;
}

.em-tomato {
  font-size: 20px;
}

.current-session {
  font-size: 30px;
  letter-spacing: 10px;
  text-align: center;
  color: #f4e542;
}

/*
  Timer
*/

.timer {
  text-align: center;
  font-size: 200px;
  letter-spacing: 2px;
  color: white;
  background-color: #e53f37;
}

.timer-button {
  text-align: center;
  font-size: 25px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 4px 3px 3px #383838;
  background-color: white;
}

.timer-button:hover {
  cursor: pointer;
  background: pink;
}

.timer-buttons {
  text-align: center;
}

/* Up Next */
#upNext {
  text-align: right;
  font-size: 30px;
  color: #f4e542;
  padding-right: 15px;
  letter-spacing: 2px;
}

/* Tab */

.tab-header {
  background-color: #82b213;
  color: white;
  letter-spacing: 3px;
}

.tab-header:hover {
  background-color: #97ce16;
  cursor: pointer;
}

.tabs {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}

.tab {
  display: inline-block;
  width: 45%;
  height: 50px;
  overflow-y: hidden;
  border-radius: 2px;
  border-width: thin;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  margin: 2px;
}

.tab-button {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 60px;
  margin: 20px;
  outline: none;
  border: none;
  background-color: white;
}

.tab-button:hover {
  cursor: pointer;
}

#tab-time {
  margin-top: 25px;
  font-size: 65px;
}


@media screen and (max-width: 625px) {

  .timer {
    font-size: 75px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  #tab-time {
    margin-top: 75px;
    font-size: 30px;
  }

  .tab-button {
    font-size: 30px;
    margin: 2px;
  }

  #upNext {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 23px;
  }
}
